/* CONDIZIONI GENERALI */
body {
    font-family: 'Roboto', sans-serif;
    background:var(--Nero);
    color: white;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
    font-family:'Electrolize', sans-serif;
}



:root{
    --Nero:rgb(26,26,26);
    --Viola: rgb(234, 37, 194);
}

.bg-nero {
    background: var(--Nero);
}

.bg-viola {
    background: var(--Viola);
}

.txt-nero {
    color:var(--Nero)
}

.txt-viola {
    color: var(--Viola);
}

/* NAVBAR */
.navbar-custom {
 width:100%;
 height:100px;
 background: var(--Nero);
}

.sizelogo {
    height:100px;
    width: 150px;
    margin-top: 25px;
}

.navbar-collapse{
    background: var(--Nero);
}

.nav-link:hover{
    color:aquamarine;
}

.dropdown-toggle{
    color: var(--Viola);
}
.dropdown:hover{
    color:aquamarine;
}

.bordomarginebottom{
    margin-bottom: 2px solid var(--Viola);
}

.hoversocial:hover{
    color: aquamarine;
}

/* FINE NAVBAR */


/* HEADER */
.titleheader{
    position: absolute;
    width: 100%;
    height: 50%;
    color: var(--Viola);
    display:flex;
    justify-content:center;
    align-items:center;
}

.slide1{
    height:100vh;
    width:100%;
    background: linear-gradient(rgba(202, 188, 35, 0.2) ,rgba(26,26,26,1)), url(./MEDIA/wonderland-records-floor.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide2{
    height:100vh;
    width:100%;
    background: linear-gradient(rgba(202, 188, 35, 0.2) ,rgba(26,26,26,1)), url(./MEDIA/wonderland-records-decor.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide3{
    height:100vh;
    width:100%;
    background: linear-gradient(rgba(202, 188, 35, 0.2) ,rgba(26,26,26,1)), url(./MEDIA/rainbowrecords.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  .carousel-indicators [data-bs-target] {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: var(--Viola);
    margin: 10px;
} 

/* Sezione Card */

.card-custom {
    position: relative;
    width: 272px;
    height: 400px;
}

.img-card {
    height: 400px;
    width: 272px;
}

.card-custom::after{
    content: '';
    height: 400px;
    width: 272px;
    background: linear-gradient(rgba(202, 188, 35, 0.2) ,rgba(26,26,26,1));
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
    opacity: 0;
}

.card-custom:hover:after{
    opacity: 1;
}